<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 1. parameterType 1번만 사용, 생략가능 -->
<!-- 2. select태그만 resultType 명시 해야함. -->
<!-- 3. ${변수},${필드명},${key} : 문자열 일 때 '' 를 포함 -->
<!-- 3.2 ${변수},${필드명},${key} : 문자열 일 때 '' 없이 -->
<!-- 4. 리스트 반환시 리스트요소 타입만 명시 -->
<!-- IBoardDao 전용 Mapper: 게시판관련 sql -->
<mapper namespace="com.lol.icia.dao.LolDao">

	<select id="get_champion_info" resultType="champion">
		SELECT
		${lane}_wpk.CID, ${lane}_wpk.CN_EG, ${lane}_wpk.CN_KR,
		${lane}_wpk.lane, ${lane}_wpk.winrate, ${lane}_wpk.pickrate,
		${lane}.kda
		FROM ${lane}_wpk join ${lane}kda ${lane}
		ON
		${lane}_wpk.CN_KR = ${lane}.CN_KR
		ORDER BY ${lane}_wpk.pickrate desc
	</select>

	<select id="get_champion_info_winrate" resultType="champion">
		SELECT
		${lane}_wpk.CID, ${lane}_wpk.CN_EG, ${lane}_wpk.CN_KR,
		${lane}_wpk.lane, ${lane}_wpk.winrate, ${lane}_wpk.pickrate,
		${lane}.kda
		FROM ${lane}_wpk join ${lane}kda ${lane}
		ON
		${lane}_wpk.CN_KR = ${lane}.CN_KR
		ORDER BY ${lane}_wpk.winrate desc
	</select>

	<select id="get_champion_info_kda" resultType="champion">
		SELECT
		${lane}_wpk.CID, ${lane}_wpk.CN_EG, ${lane}_wpk.CN_KR,
		${lane}_wpk.lane, ${lane}_wpk.winrate, ${lane}_wpk.pickrate,
		${lane}.kda
		FROM ${lane}_wpk join ${lane}kda ${lane}
		ON
		${lane}_wpk.CN_KR = ${lane}.CN_KR
		ORDER BY ${lane}_wpk.kda desc
	</select>

	<select id="get_champion_detail_info" resultType="champion">
		SELECT * FROM
		${lane}_wpk
		WHERE CID = ${cid}
	</select>

	<select id="get_counter_up" resultType="counter">
	<![CDATA[
		select a1.lane, a1.name2 champ, a1.id2 c_id, a1.cnt win,a2.cnt
		match,round(a1.cnt/a2.cnt*100,2) as winrate, a1.name1 enemy, a1.cn_eg, a1.id1
		e_id
		from
		(SELECT t2.lane, t2.championid id2, t2.cname name2, t1.cn_eg, COUNT(*) AS CNT, T2.WIN
		win2, t1.championid id1, t1.cname name1
		FROM (SELECT GAMEID,rc.cn_kr AS CNAME, WIN, LANE, rc.CHAMPIONID, rc.cn_eg
		FROM RC) T1 
		INNER JOIN (SELECT GAMEID,rc.cn_kr AS CNAME, WIN, LANE, rc.CHAMPIONID
		FROM RC where championid=${cid}) T2 
		ON T1.GAMEID = T2.GAMEID AND T1.LANE = T2.LANE
		WHERE T1.LANE=#{lane} AND t1.cname<>t2.cname and t2.win = 'True'
		GROUP BY t2.cname, T2.WIN, t2.lane, t1.cname, t2.championid, t1.championid, t1.cn_eg
		ORDER BY t1.cname) a1 
		join
		(SELECT COUNT(*) AS CNT, t1.CHAMPIONID id,t1.cname name1
		FROM (SELECT GAMEID,rc.cn_kr AS CNAME, WIN, LANE, rc.CHAMPIONID
		FROM RC ) T1 
		INNER JOIN (SELECT GAMEID,rc.cn_kr AS CNAME, WIN, LANE, rc.CHAMPIONID
		FROM RC where championid=${cid}) T2 
		ON T1.GAMEID = T2.GAMEID AND T1.LANE = T2.LANE
		WHERE T1.LANE=#{lane} AND t1.cname<>t2.cname
		GROUP BY t2.cname, t2.lane, t1.cname, t1.CHAMPIONID
		having count(*) >=100
		ORDER BY t1.cname) a2
		on a1.name1 = a2.name1
		WHERE round(a1.cnt/a2.cnt*100,2)>=50
		order by winrate desc
		]]>
	</select>

	<select id="get_counter_down" resultType="counter">
	<![CDATA[
		select a1.lane, a1.name2 champ, a1.id2 c_id, a1.cnt win,a2.cnt
		match,round(a1.cnt/a2.cnt*100,2) as winrate, a1.name1 enemy, a1.cn_eg, a1.id1
		e_id
		from
		(SELECT t2.lane, t2.championid id2, t2.cname name2, t1.cn_eg, COUNT(*) AS CNT, T2.WIN
		win2, t1.championid id1, t1.cname name1
		FROM (SELECT GAMEID,rc.cn_kr AS CNAME, WIN, LANE, rc.CHAMPIONID, rc.cn_eg
		FROM RC) T1 
		INNER JOIN (SELECT GAMEID,rc.cn_kr AS CNAME, WIN, LANE, rc.CHAMPIONID
		FROM RC where championid=${cid}) T2 
		ON T1.GAMEID = T2.GAMEID AND T1.LANE = T2.LANE
		WHERE T1.LANE=#{lane} AND t1.cname<>t2.cname and t2.win = 'True'
		GROUP BY t2.cname, T2.WIN, t2.lane, t1.cname, t2.championid, t1.championid, t1.cn_eg
		ORDER BY t1.cname) a1 
		join
		(SELECT COUNT(*) AS CNT, t1.CHAMPIONID id,t1.cname name1
		FROM (SELECT GAMEID,rc.cn_kr AS CNAME, WIN, LANE, rc.CHAMPIONID
		FROM RC ) T1 
		INNER JOIN (SELECT GAMEID,rc.cn_kr AS CNAME, WIN, LANE, rc.CHAMPIONID
		FROM RC where championid=${cid}) T2 
		ON T1.GAMEID = T2.GAMEID AND T1.LANE = T2.LANE
		WHERE T1.LANE=#{lane} AND t1.cname<>t2.cname
		GROUP BY t2.cname, t2.lane, t1.cname, t1.CHAMPIONID
		having count(*) >=100
		ORDER BY t1.cname) a2
		on a1.name1 = a2.name1
		WHERE round(a1.cnt/a2.cnt*100,2)<50
		order by winrate
		]]>
	</select>
	
		<select id="get_relative_record" resultType="counter">
			<![CDATA[
		select a1.lane, a1.name2 champ, a1.id2 c_id, a1.cnt win,a2.cnt
		match,round(a1.cnt/a2.cnt*100,2) as winrate, a1.name1 enemy, a1.cn_eg, a1.id1
		e_id
		from
		(SELECT t2.lane, t2.championid id2, t2.cname name2, t1.cn_eg, COUNT(*) AS CNT, T2.WIN
		win2, t1.championid id1, t1.cname name1
		FROM (SELECT GAMEID,rc.cn_kr AS CNAME, WIN, LANE, rc.CHAMPIONID, rc.cn_eg
		FROM RC where championid=${e_id}) T1 
		INNER JOIN (SELECT GAMEID,rc.cn_kr AS CNAME, WIN, LANE, rc.CHAMPIONID
		FROM RC where championid=${cid}) T2 
		ON T1.GAMEID = T2.GAMEID AND T1.LANE = T2.LANE
		WHERE T1.LANE=#{lane} AND t1.cname<>t2.cname and t2.win = 'True'
		GROUP BY t2.cname, T2.WIN, t2.lane, t1.cname, t2.championid, t1.championid, t1.cn_eg
		ORDER BY t1.cname) a1 
		join
		(SELECT COUNT(*) AS CNT, t1.CHAMPIONID id,t1.cname name1
		FROM (SELECT GAMEID,rc.cn_kr AS CNAME, WIN, LANE, rc.CHAMPIONID
		FROM RC where championid=${e_id}) T1 
		INNER JOIN (SELECT GAMEID,rc.cn_kr AS CNAME, WIN, LANE, rc.CHAMPIONID
		FROM RC where championid=${cid}) T2 
		ON T1.GAMEID = T2.GAMEID AND T1.LANE = T2.LANE
		WHERE T1.LANE=#{lane} AND t1.cname<>t2.cname
		GROUP BY t2.cname, t2.lane, t1.cname, t1.CHAMPIONID
		ORDER BY t1.cname) a2
		on a1.name1 = a2.name1
		order by winrate
		]]>
	</select>

	<select id="get_champion_total" resultType="Integer">
	
	SELECT TOTALWIN 
	FROM TOTAL_WINRATE
	WHERE RC_NAME1=#{rc_name1} AND LANE=#{lane}
	
	</select>
	
	<select id="get_enemy_total" resultType="Integer">
	
	SELECT TOTALWIN 
	FROM TOTAL_WINRATE
	WHERE RC_NAME1=#{rc_name1} AND LANE=#{lane}
	
	</select>


</mapper>